$yellow: #0f0;

body {
    color: #2b2c2e;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    color: #49c0a6;
}

h3 {
    border-bottom: 0.25rem solid $yellow;
}

a {
    border-bottom: 0.25rem solid $yellow;
    color: #49c0a6;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    border: 0;
    color: #2b2c2e;
}

header {
    background: $yellow;
    padding: 1rem 2rem;
}

nav {
    margin-bottom: 1rem;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a,
nav ul li span {
    background: #fff;
    border: 0;
    display: block;
    font-weight: bold;
    padding: 1rem 2rem;
}

nav ul li.active span,
nav ul li a:hover {
    background: #49c0a6;
    color: #fff;
}

nav ul li.active a {
    color: #2b2c2e;
}

nav form {
    margin: 1rem 2rem;
}

input {
    border-radius: 0.25rem;
    border: 0.1rem solid #abc3c7;
    font-size: 1rem;
    padding: 0.5rem;
}

input[type="submit"] {
    background: #49c0a6;
    border: 0;
    border-radius: 0.25rem;
    color: #fff;
    line-height: 2.4rem;
    padding: 0 0.5rem;
}

input[type="submit"]:hover {
    background: #fff;
    color: #2b2c2e;
}

main,
aside {
    padding: 2rem;
}

main aside {
    background: #f5f7fa;
    border-radius: 0.5rem;
    padding: 1rem;
}

blockquote {
    font-style: italic;
    border-left: 0.25rem solid $yellow;
    padding-left: 0.5rem;
    margin: 1rem 0;
}

dl dt {
    font-weight: bold;
}

table {
    width: 100%;
}

th,
td {
    padding: 0.5rem;
}

th {
    text-align: left;
    background: #f5f7fa;
}

footer {
    background: #abc3c7;
    color: #fff;
    font-weight: bold;
    padding: 2rem;
    margin: 0;
}
