body {
    color: #2b2c2e;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    color: #49c0a6;
}

h3 {
    border-bottom: 0.25rem solid #fecd66;
}

a {
    border-bottom: 0.25rem solid #fecd66;
    color: #49c0a6;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    border: 0;
    color: #2b2c2e;
}

header {
    background: #fecd66;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 5rem;
}

header h1 {
    font-size: 2rem;
    line-height: 5rem;
    padding-left: 2rem;
}

header ul {
    display: flex;
    align-items: flex-start;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

header ul li {
    flex: 1;
    line-height: 5rem;
    text-align: center;
}

header form {
    line-height: 5rem;
    text-align: right;
}

input {
    border-radius: 0.25rem;
    border: 0.1rem solid #abc3c7;
    font-size: 1rem;
    padding: 0.5rem;
}

input[type="submit"] {
    background: #49c0a6;
    border: 0;
    border-radius: 0.25rem;
    color: #fff;
    line-height: 2.4rem;
    padding: 0 0.5rem;
}

input[type="submit"]:hover {
    background: #fff;
    color: #2b2c2e;
}

#content {
    display: flex;
}

main,
#content > aside {
    box-sizing: border-box;
    padding: 2rem;
}

main {
    flex: 0 0 67%;
}

#content > aside {
    flex: 0 0 33%;
}

img {
    border-right: 2rem solid #fff;
    border-bottom: 2rem solid #fff;
    float: left;
    width: 20%;
}

main aside {
    background: #f5f7fa;
    border-left: 2rem solid #fff;
    border-bottom: 2rem solid #fff;
    font-size: 1rem;
    padding: 1rem;
    float: right;
    width: 20%;
    margin-left: 2rem;
}

blockquote {
    font-style: italic;
    border-left: 0.25rem solid #fecd66;
    padding-left: 0.5rem;
    margin: 1rem 0;
}

dl dt {
    font-weight: bold;
}

table {
    width: 100%;
}

th,
td {
    padding: 0.5rem;
}

th {
    text-align: left;
    background: #f5f7fa;
}

footer {
    background: #abc3c7;
    color: #fff;
    font-weight: bold;
    padding: 2rem;
    margin: 0;
}

@media only screen and (min-width: 768px) {

}
